---
import MdLayout from '../../layouts/MdLayout.astro'
import { old_projects } from '../../data/projects'
import Project from '../../components/features/Project.astro'

---

<MdLayout frontmatter={{
  title: "作っていたもの",
  create_date: "2022-11-16",
  update_date: "2024-09-10",
  og_description: "過去のプロジェクト"
}}>
  <p>過去のプロジェクト。下に行くほど古い。</p>

  <div> {old_projects.map(pj => <Project pj={pj}/>)} </div>
</MdLayout>

