---
import MdLayout from '../../layouts/MdLayout.astro'
import { scrap_projects } from '../../data/projects'
import Project from '../../components/features/Project.astro'

---

<MdLayout frontmatter={{
  title: "ボツ",
  create_date: "2022-11-16",
  update_date: "2024-09-10",
}}>
  <p>未完成のままやめてしまったもの。下に行くほど古い。</p>

  <div> {scrap_projects.map(pj => <Project pj={pj}/>)} </div>
</MdLayout>

