---
import Layout from '../../layouts/Layout.astro'
import Sort from '../../components/features/sort.html'
---

<Layout title="Table Converter">
  <h1>Sort Visualizer</h1>
  <p>ソートアルゴリズムを可視化します。</p>
  <Sort />
</Layout>
