---
import Layout from '../../layouts/Layout.astro'
import SortApp from '../../components/features/sort.html'
---

<Layout title="Sort Visualizer" og_description='ソートアルゴリズムを可視化します。6つのアルゴリズムと42のカラースキームに対応。バブルソート、シンプルソート、選択ソート、挿入ソート、シェルソート、クイックソート' og_title='Sort Visualizer - ソートアルゴリズムを可視化'>
  <h1>Sort Visualizer</h1>
  <p>ソートアルゴリズムを可視化します。</p>
  <SortApp />
</Layout>
