---
import Layout from '../../layouts/Layout.astro'
import { TableConv } from '../../components/react/TableConv'
---

<Layout title="Table Converter" og_title='Table Converter - CSV・エクセルの表をLaTeXやJSON形式などに変換' og_description='エクセルの表やCSVをLaTeX形式に変換します。変換処理はブラウザの内部で行われ、外部には送信されません。'>
  <h1>表形式のデータの相互変換</h1>
  <p>CSV を LaTeX や JSON などの表形式に変換します。</p>
  <p>変換処理はブラウザの内部で行われ、外部には送信されません。</p>
  <TableConv client:only="react" />
</Layout>
