---
import Layout from '../../layouts/Layout.astro'
import { TableConv } from '../../components/react/TableConv'
---

<Layout title="Table Converter">
  <h1>表形式のデータの相互変換</h1>
  <p>変換処理はブラウザの内部で行われ、外部には送信されません。</p>
  <TableConv client:only="react" />
</Layout>
