---
import { Polyhedron } from '../components/polyhedron/Polyhedron';
import Layout from '../layouts/Layout.astro';

import Content from './_index.mdx';
---

<Layout title="ホーム" 
  og_title="yuma14.net"
  og_description='yuma14の個人サイト: Rust、Neovim、ゲーム開発などに関する情報とツール'
>
  <Content />
  <div id="polyhedron">
    <Polyhedron client:only="react" />
  </div>
</Layout>

<script>
document.getElementById("polyhedron")?.addEventListener("wheel", e => e.preventDefault(), {passive: false});
</script>

<style>
#polyhedron {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}
@media (min-width: 300px) {
  #polyhedron {
    width: 300px;
    height: 75px;
    display: block;
  }
}
@media (min-width: 400px) {
  #polyhedron {
    width: 400px;
    height: 100px;
    display: block;
  }
}
</style>
