---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <h1>yuma14.net</h1>

  <h2>コンテンツ</h2>

  <dl>
    <dt>Profile</dt>
    <dd>私について</dd>

    <dt>Projects</dt>
    <dd>開発中のプロジェクト・過去のプロジェクト</dd>

    <dt>ウェブアプリ</dt>
    <dd>公開しているウェブアプリの一覧</dd>

    <dt>サービス一覧</dt>
    <dd>運営しているサービスの一覧</dd>

    <dt>デプロイ状況</dt>
    <dd>このサイトを構成する各コンポーネントのデプロイ状況</dd>
  </dl>

  <h2>更新履歴</h2>
  <ul>
    <li>2024/03/19 - フレームワークをVikeに変更</li>
    <li>2023/12/19 - Tempura v0.5.0にアップデート</li>
    <li>2023/10/08 - ウェブアプリ一覧を追加</li>
    <li>2023/07/12 - 画像追加</li>
    <li>2023/05/17 - 更新</li>
    <li>2023/04/30 - gitとcloudを削除</li>
    <li>2023/04/29 - wwwを別サーバーへ移動</li>
    <li>2023/01/31 - Nextcloudインスタンス(非公開)を追加</li>
    <li>2023/01/31 - サーバーのスペックを強化</li>
    <li>2022/11/18 - Giteaインスタンス(git.yuma14.net)を追加</li>
    <li>2022/11/16 - About Me、つくったもの、WebTools、サービス一覧を追加。ダークテーマ対応</li>
    <li>2022/11/15 - ドメイン取得</li>
  </ul>
</Layout>

<style></style>
