---
import MdLayout from '../layouts/MdLayout.astro'
import { deployments } from '../data/deployments'
import Deployment from '../components/features/Deployment.astro'
import { forks } from '../data/forks';
import Fork from '../components/features/Fork.astro';
---

<MdLayout frontmatter={{
  title: "定点観測",
  create_date: "2022-11-16",
  update_date: "2024-09-11",
  og_description: "いろいろなものの状態を 1 ヶ所からまとめて確認するためのページ"
}}>

  <p>いろいろなものの状態を 1 ヶ所からまとめて確認するためのページです。</p>

  <h2>サービス一覧</h2>

  <p>運営しているサービスの一覧です。</p>

  <ul>
    <li>
      <a href="/">yuma14.net</a> - 個人サイト (このサイト)
    </li>
    <li>
      <a href="https://beta.yuma14.net/">beta.yuma14.net</a> - 個人サイトのベータ版
    </li>
    <li>
      <a href="https://old.yuma14.net/">old.yuma14.net</a> - 古い個人サイト
    </li>
    <li>
      <strike>git.yuma14.net</strike> - Gitea インスタンス (停止中)
    </li>
    <li>
      <strike>Nextcloud インスタンス (停止中)</strike>
    </li>
  </ul>

  <h2>デプロイ状況</h2>

  <p>このサイトを構成する各コンポーネントのデプロイ状況。</p>

  <table class="striped">
    <thead>
      <tr>
        <th>コンポーネント</th>
        <th>デプロイ状況</th>
      </tr>
    </thead>
    <tbody>
      {deployments.map(d => <Deployment deployment={d} />)}
    </tbody>
  </table>

  <h2>フォーク</h2>

  <p>私がフォークしたリポジトリとフォーク元の更新日時。</p>

  {forks.map(fork => <Fork fork={fork} />)}
</MdLayout>
