---
import type { Technology } from '../data/technology_enum';

interface Props {
  t: Technology;
}

function getTechnologyLabel(tech: Technology): string {
  switch (tech) {
    case 'rust':
      return 'Rust';
    case 'opengl':
      return 'OpenGL';
    case 'java':
      return 'Java';
    case 'scala':
      return 'Scala';
    case 'minecraft':
      return 'Minecraft';
    case 'ts':
      return 'TypeScript';
    case 'opencv':
      return 'OpenCV';
    case 'latex':
      return 'LaTeX';
    case 'lua':
      return 'Lua';
    case 'tauri':
      return 'Tauri';
    case 'wasm':
      return 'WebAssembly';
    case 'js':
      return 'JavaScript';
    case 'python':
      return 'Python';
    case 'kotlin':
      return 'Kotlin';
    case 'android':
      return 'Android';
    case 'csharp':
      return 'C#';
    case 'unity':
      return 'Unity';
    case 'pwsh':
      return 'PowerShell';
    case 'socketio':
      return 'Socket.IO';
    case 'line':
      return 'LINE';
    case 'postgresql':
      return 'PostgreSQL';
    case 'elm':
      return 'Elm';
    case 'winforms':
      return 'Windows Forms';
    case 'fxaddon':
      return 'Firefox Addon';
    case 'html':
      return 'HTML';
    case 'angular':
      return 'Angular';
    case 'processing':
      return 'Processing';
    case 'lwjgl':
      return 'LWJGL';
    case 'wpf':
      return 'WPF';
    case 'objectivec':
      return 'Objective-C';
    case 'hsp':
      return 'HSP';
    case 'cpp':
      return 'C++';
    case 'applescript':
      return 'AppleScript';
    case 'nadeshiko':
      return 'なでしこ';
    case 'gtk':
      return 'GTK';
    case 'webgl':
      return 'WebGL';
    case 'electron':
      return 'Electron';
    case 'piston':
      return 'Piston';
    case 'javafx':
      return 'JavaFX';
    case 'qt':
      return 'Qt';
    case 'win32api':
      return 'Win32 API';
    case 'swift':
      return 'Swift';
  }
}

const { t } = Astro.props;
---

<span class:list={["b", t]}>{getTechnologyLabel(t)}</span>

<style>
.b {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: .375rem;
  cursor: default;
  box-sizing: border-box;
  background: red;
  color: blue;
}

.b.rust {
  background: #d19b7b;
  color: #000000;
}
.b.opengl {
  background: #52829f;
  color: #ffffff;
}
.b.java {
  background: #b07219;
  color: #ffffff;
}
.b.scala {
  background: #df352e;
  color: #ffffff;
}
.b.minecraft {
  background: #388d41;
  color: #ffffff;
}
.b.ts {
  background: #3076c3;
  color: #ffffff;
}
.b.opencv {
  background: #0101f7;
  color: #ffffff;
}
.b.latex {
  background: #0f807f;
  color: #ffffff;
}
.b.lua {
  background: #000080;
  color: #ffffff;
}
.b.tauri {
  background: #ffc337;
  color: #000000;
}
.b.wasm {
  background: #624de8;
  color: #ffffff;
}
.b.js {
  background: #efd81d;
  color: #000000;
}
.b.python {
  background: #f0e9a4;
  color: #244d87;
}
.b.kotlin {
  background: #a97bff;
  color: #000000;
}
.b.android {
  background: #36f591;
  color: #000000;
}
.b.csharp {
  background: #178600;
  color: #ffffff;
}
.b.unity {
  background: #fff51e;
  color: #000000;
}
.b.pwsh {
  background: #26364a;
  color: #ffffff;
}
.b.socketio {
  background: #efd81d;
  color: #000000;
}
.b.line {
  background: #00b300;
  color: #ffffff;
}
.b.postgresql {
  background: #31648c;
  color: #ffffff;
}
.b.elm {
  background: #60b5cc;
  color: #ffffff;
}
.b.winforms {
  background: #3178c6;
  color: #ffffff;
}
.b.fxaddon {
  background: #ff473d;
  color: #ffffff;
}
.b.html {
  background: #e5552d;
  color: #ffffff;
}
.b.angular {
  background: #bd002e;
  color: #ffffff;
}
.b.processing {
  background: #092033;
  color: #ffffff;
}
.b.lwjgl {
  background: #222755;
  color: #ffffff;
}
.b.wpf {
  background: #672877;
  color: #ffffff;
}
.b.objectivec {
  background: #ce9d62;
  color: #000000;
}
.b.hsp {
  background: #2466b3;
  color: #ffffff;
}
.b.cpp {
  background: #6a9dd3;
  color: #000000;
}
.b.applescript {
  background: #ffffff;
  color: #000000;
}
.b.nadeshiko {
  background: #ffecec;
  color: #000000;
}
.b.gtk {
  background: #83e820;
  color: #000000;
}
.b.webgl {
  background: #940000;
  color: #ffffff;
}
.b.electron {
  background: #333540;
  color: #8df0e4;
}
.b.piston {
  background: #ffffff;
  color: #000000;
}
.b.javafx {
  background: #e87408;
  color: #000000;
}
.b.qt {
  background: #3fc74f;
  color: #ffffff;
}
.b.win32api {
  background: #4684e8;
  color: #ffffff;
}
.b.swift {
  background: #fe4c2e;
  color: #ffffff;
}
</style>
