---
---

<div id="toc-and-content">
  <div id="toc">
    <nav class="toc-nav">
      <div class="toc-title">
        <h2>目次</h2>
      </div>
      <div class="toc-body"></div>
    </nav>
  </div>
  <div id="content">
    <slot />
  </div>
</div>

<script>
  import { init } from 'tocbot'

  let generated_ids = 0;
 
  init({
    tocSelector: '.toc-body',
    contentSelector: '#content',
    activeLinkClass: 'toc-link-active',
    listClass: 'toc-list',
    linkClass: 'toc-link',
    headingSelector: 'h2, h3, h4, h5, h6',
    scrollSmoothOffset: -50,
    headingsOffset: 50,
    headingObjectCallback: (o, elm) => {
      if (!elm.id) {
        const id =  `toc-generated-${generated_ids++}`;
        (o as {id: string}).id = id;
        elm.id = id;
      }
      return o;
    }
  })
</script>

<style>
#toc-and-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
#toc {
  flex-shrink: 0;
}
#toc h2 {
  margin: 0;
  font-size: var(--font-size);
  padding-left: 1rem;
}
#toc :global(ol) {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
}
#toc :global(.toc-link:not(.toc-link-active)) {
  text-decoration: none;
  color: var(--color-grey);
}
#toc :global(.toc-link.toc-link-active) {
  text-decoration: none;
  color: var(--font-color);
}
@media (max-width: 991px) {
  #toc {
    display: none;
  }
}
@media (min-width: 992px) {
  #toc {
    width: 280px;
  }
  #toc > :global(nav) {
    position: sticky;
    top: var(--header-height);
  }
}
</style>
