#sidebar::-webkit-scrollbar{
   width: 4px;
}
#sidebar::-webkit-scrollbar-track{
  background-color: transparent;
}
#sidebar::-webkit-scrollbar-thumb{
  background-color: transparent;
}
#sidebar:hover::-webkit-scrollbar-thumb{
  background-color: var(--color-base-200);
  border-radius: 2px;
}
