:root {
  --color-primary: var(--color-b16-11);
  --color-primary-content: var(--color-b16-00);
  --color-secondary: var(--color--b16-13);
  --color-secondary-content: var(--color-b16-00);
  --color-accent: var(--color-b16-14);
  --color-accent-content: var(--color-b16-00);
  --color-neutral: var(--color-b16-05)
  --color-neutral-content: var(--color-b16-00);
  --color-base-100: var(--color-b16-00);
  --color-base-150: var(--color-b16-01);
  --color-base-200: var(--color-b16-02);
  --color-base-300: var(--color-b16-03);
  --color-base-content: var(--color-b16-05);
}

:root, [data-theme='onedark'] {
  --color-b16-00: #282c34;
  --color-b16-01: #353b45;
  --color-b16-02: #3e4451;
  --color-b16-03: #545862;
  --color-b16-04: #565c64;
  --color-b16-05: #abb2bf;
  --color-b16-06: #b6bdca;
  --color-b16-07: #c8ccd4;
  --color-b16-08: #e06c75;
  --color-b16-09: #d19a66;
  --color-b16-10: #e5c07b;
  --color-b16-11: #98c379;
  --color-b16-12: #56b6c2;
  --color-b16-13: #61afef;
  --color-b16-14: #c678dd;
  --color-b16-15: #be5046;

}

[data-theme='onelight'] {
  --color-b16-00: #fafafa;
  --color-b16-01: #f0f0f1;
  --color-b16-02: #e5e5e6;
  --color-b16-03: #a0a1a7;
  --color-b16-04: #696c77;
  --color-b16-05: #383a42;
  --color-b16-06: #202227;
  --color-b16-07: #090a0b;
  --color-b16-08: #ca1243;
  --color-b16-09: #d75f00;
  --color-b16-10: #c18401;
  --color-b16-11: #50a14f;
  --color-b16-12: #0184bc;
  --color-b16-13: #4078f2;
  --color-b16-14: #a626a4;
  --color-b16-15: #986801;
}

[data-theme='monokai'] {
  --color-b16-00: #272822;
  --color-b16-01: #383830;
  --color-b16-02: #49483e;
  --color-b16-03: #75715e;
  --color-b16-04: #a59f85;
  --color-b16-05: #f8f8f2;
  --color-b16-06: #f5f4f1;
  --color-b16-07: #f9f8f5;
  --color-b16-08: #f92672;
  --color-b16-09: #fd971f;
  --color-b16-10: #f4bf75;
  --color-b16-11: #a6e22e;
  --color-b16-12: #a1efe4;
  --color-b16-13: #66d9ef;
  --color-b16-14: #ae81ff;
  --color-b16-15: #cc6633;

  --color-primary: var(--color-b16-08);
  --color-secondary: var(--color-b16-11);
  --color-accent: var(--color-b16-13);
}

[data-theme='solarized_dark'] {
  --color-b16-00: #002b36;
  --color-b16-01: #073642;
  --color-b16-02: #586e75;
  --color-b16-03: #657b83;
  --color-b16-04: #839496;
  --color-b16-05: #93a1a1;
  --color-b16-06: #eee8d5;
  --color-b16-07: #fdf6e3;
  --color-b16-08: #dc322f;
  --color-b16-09: #cb4b16;
  --color-b16-10: #b58900;
  --color-b16-11: #859900;
  --color-b16-12: #2aa198;
  --color-b16-13: #268bd2;
  --color-b16-14: #6c71c4;
  --color-b16-15: #d33682;

  --color-primary: var(--color-b16-08);
  --color-secondary: var(--color-b16-11);
  --color-accent: var(--color-b16-13);
}

[data-theme='solarized_light'] {
  --color-b16-00: #fdf6e3;
  --color-b16-01: #eee8d5;
  --color-b16-02: #93a1a1;
  --color-b16-03: #839496;
  --color-b16-04: #657b83;
  --color-b16-05: #586e75;
  --color-b16-06: #073642;
  --color-b16-07: #002b36;
  --color-b16-08: #dc322f;
  --color-b16-09: #cb4b16;
  --color-b16-10: #b58900;
  --color-b16-11: #859900;
  --color-b16-12: #2aa198;
  --color-b16-13: #268bd2;
  --color-b16-14: #6c71c4;
  --color-b16-15: #d33682;

  --color-primary: var(--color-b16-08);
  --color-secondary: var(--color-b16-11);
  --color-accent: var(--color-b16-13);
}

[data-theme='darcula'] {
  --color-b16-00: #2b2b2b;
  --color-b16-01: #323232;
  --color-b16-02: #323232;
  --color-b16-03: #606366;
  --color-b16-04: #a4a3a3;
  --color-b16-05: #a9b7c6;
  --color-b16-06: #ffc66d;
  --color-b16-07: #ffffff;
  --color-b16-08: #4eade5;
  --color-b16-09: #689757;
  --color-b16-10: #bbb529;
  --color-b16-11: #6a8759;
  --color-b16-12: #629755;
  --color-b16-13: #9876aa;
  --color-b16-14: #cc7832;
  --color-b16-15: #808080;

  --color-primary: var(--color-b16-08);
  --color-secondary: var(--color-b16-11);
  --color-accent: var(--color-b16-13);
}

[data-theme='tokyo_night_dark'] {
  --color-b16-00: #1a1b26;
  --color-b16-01: #16161e;
  --color-b16-02: #2f3549;
  --color-b16-03: #444b6a;
  --color-b16-04: #787c99;
  --color-b16-05: #a9b1d6;
  --color-b16-06: #cbccd1;
  --color-b16-07: #d5d6db;
  --color-b16-08: #c0caf5;
  --color-b16-09: #a9b1d6;
  --color-b16-10: #0db9d7;
  --color-b16-11: #9ece6a;
  --color-b16-12: #b4f9f8;
  --color-b16-13: #2ac3de;
  --color-b16-14: #bb9af7;
  --color-b16-15: #f7768e;

  --color-primary: var(--color-b16-11);
  --color-secondary: var(--color-b16-10);
  --color-accent: var(--color-b16-15);
}

[data-theme='tokyo_night_light'] {
  --color-b16-00: #d5d6db;
  --color-b16-01: #cbccd1;
  --color-b16-02: #dfe0e5;
  --color-b16-03: #9699a3;
  --color-b16-04: #4c505e;
  --color-b16-05: #343b59;
  --color-b16-06: #1a1b26;
  --color-b16-07: #1a1b26;
  --color-b16-08: #343b58;
  --color-b16-09: #965027;
  --color-b16-10: #166775;
  --color-b16-11: #485e30;
  --color-b16-12: #3e6968;
  --color-b16-13: #34548a;
  --color-b16-14: #5a4a78;
  --color-b16-15: #8c4351;

  --color-primary: var(--color-b16-11);
  --color-secondary: var(--color-b16-10);
  --color-accent: var(--color-b16-15);
}
