---
import { Icon } from "astro-icon/components";
import type { App } from "../../data/apps"
import { Image } from 'astro:assets'

interface Props {
  app: App;
}

const { app } = Astro.props;
---

<div class="col-12 col-4-md col-3-lg parent">
  <h2>{app.name}</h2>
  <p>{app.copy}</p>
  <a href={app.url} target={app.outside ? "_blank" : "_self"}>
    <div class="spacing">{app.img ? <Image src={app.img} alt="open app"/> : <Icon name="carbon:cics-program" title="open app" size="10rem" />}</div>
  </a>
</div>

<style>
h2 {
  margin-bottom: 0;
}
img {
  max-width: 100%;
  object-fit: contain;
  height: 16rem;
}
.spacing {
  max-width: 100%;
  height: 16rem;
  position: relative;
}
.spacing > *:not(img) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.parent {
  position: relative;
}
a {
  display: block;
  color: var(--font-color);
}
a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>
