---
import type { DeploymentType } from "../../data/deployments";

interface Props {
  deployment: DeploymentType;
}

const { deployment } = Astro.props;
---

<tr>
  <th>
    <a href={deployment.url}>{deployment.name ?? deployment.url}</a>
  </th>
  <td>
    <a href={deployment.repo ?? deployment.url}><img src={deployment.badge} /></a>
  </td>
</tr>
