---
import 'chota';
interface Props {
	title: string;
}

const { title } = Astro.props;

type NavItem = {
  url: string;
  text: string;
  active: boolean;
}

const currentPath = Astro.url.pathname;
const navItems: NavItem[] = [
  ['/', 'Home'],
  ['/profile/', 'Profile'],
  ['/works/', 'Works'],
  ['/apps/', 'ウェブアプリ'],
].map(([url, text]) => ({
  url,
  text,
  active: (url.length === 1 && currentPath === url) || (url.length > 1 && currentPath.startsWith(url)),
}));
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon-512x512.png">

    <meta name="description" content="yuma14の個人サイト: Rust、Neovim、ゲーム開発などに関する情報とツール">
    <meta property="og:description" content="yuma14の個人サイト: Rust、Neovim、ゲーム開発などに関する情報とツール">
    <meta property="og:image" content="/ogp.png">
    <meta property="og:title" content="yuma14.net">
    <meta property="og:locale" content="ja_JP">
		<meta name="generator" content={Astro.generator} />
		<title>{title} - yuma14.net</title>
	</head>
	<body>
    <header>
      <nav class="nav">
        <div class="nav-left">
          <a class="brand" href="/">yuma14.net</a>
          <div class="tabs">
            {navItems.map(item => 
              <a href={item.url} class={item.active ? "active" : ""}>{item.text}</a>
            )}
          </div>
        </div>
      </nav>
    </header>
    <main>
		<slot />
    </main>
	</body>
</html>

<style>
main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px #ffffff;
}
</style>
